#container { height: 100% }
.msc { float: right; }
.box { float: right; margin-top: 190px;
       width:45%;}
.log{ position: absolute; margin-left: 10px;
      width: 70px; height: 70px;
      padding-left: 7px; padding-right: 7px;
      padding-top: 7px; padding-bottom: 7px;
      border-radius: 10px;}
.hh{ color: white; }
body { background-image: url(img.jpg); background-repeat: no-repeat;
       background-color: black; background-size: 100%;
       background-position:center top;
       width: 1800px; height: 800px; }
footer{ position: absolute; bottom: 0; width: 100%;
         color: white; }
#h_menu { list-style-type: none; display: inline;}
.menus{color: lightgray; font-size: 20pt; display: inline; margin-right: 15px; }
.menus a { text-decoration: none; color: lightgray;}
.hh a:hover { text-decoration: none; color: white;}
.menus a:hover { color: white; text-decoration: underline;}
.hh a {text-decoration: none; color: lightgray;}
